<div>
    <div>
        <h1>Register</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="emailId">Email Id</label>
            <input type="email" class="form-control" id="emailId" placeholder="Enter the email" [formControl]="email"
                required>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter the password"
                [formControl]="password" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="registerUser()">Submit</button>
    </form>
</div>